Presentation/Service References/SearchService/SearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriminalSearchService.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriminalSearchService.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16697/SearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:SearchFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchRequest" nillable="true" type="tns:SearchRequest" />
  <xs:complexType name="SearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeMax" type="xs:int" />
      <xs:element minOccurs="0" name="AgeMin" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeightMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="HeightMin" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfResults" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="WeightMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightMin" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchFilter" nillable="true" type="tns:SearchFilter" />
  <xs:complexType name="SearchResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResponse" nillable="true" type="tns:SearchResponse" />
</xs:schema>